@page "/"


<Cabecalho imagem="true" />

@* <Cabecalho imagem="false"  botoes="Cabecalho.Botoes.Novo"/>

<Cabecalho imagem="false"  > 
    <botoesrf>
        <p>Botoes rf</p>
    </botoesrf>
</Cabecalho> *@

<Introdutoria/>

<Avisos/>

<CardsSpace/>

<NewsLetter/>

<Rodape/>

 <Cookies/>
@code {

    //[Parameter] public  string nome  { get; set; }


    
}