.footer[b-gsbglvujkg] {
    height: 413px;
    background: #0D3439;
    display: flex;
    padding: 48px;
    justify-content: center; 
}

.footersec[b-gsbglvujkg] {
    display: flex;             
    flex-direction: row;
    align-items: flex-start;  
    justify-content: space-between; 
    width: 100%;               
    padding-left: 92px;       
}

.footeresq[b-gsbglvujkg] {
    display: flex;
    flex-direction: column;
    padding-top: 52px; 
}


.logoGOT[b-gsbglvujkg] {
    padding-bottom: 9px;
}

.ComecaAqui[b-gsbglvujkg] {
    margin: 0;
    font-family: "Sora";
    font-size: 14px;
    font-weight: 500;
    color: #6ACFC7;
    padding-bottom: 42px;
}


.p ComecaAqui[b-gsbglvujkg] {
    margin: 0;
    font-family: "Sora";
    font-size: 14px;
    font-weight: 500;
    color: #6ACFC7;
    padding-bottom: 42px;
}


.PowerBy[b-gsbglvujkg] {
    margin: 0;
    font-family: "Sora";
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}


.p PowerBy[b-gsbglvujkg] {
    margin: 0;
    font-family: "Sora" ;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.logoInforcavado[b-gsbglvujkg] {
    padding-bottom: 16px;
}


.Infos[b-gsbglvujkg] {
    margin: 0;
    font-family: "Sora";
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;

}
.p Infos[b-gsbglvujkg] {
    margin: 0;
    font-family: "Sora" ;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}


.Follow[b-gsbglvujkg] {
    margin: 0;
    font-family: "Sora";
    font-size: 14px;
    font-weight: 400;
    color: #A2C850;
    padding-bottom: 16px;
}




.p Follow[b-gsbglvujkg] {
    flex-direction: row;
    margin: 0;
    font-family: "Sora";
    font-size: 14px;
    font-weight: 400;
    color: #A2C850;
    padding-bottom: 16px;
}


.social-icons[b-gsbglvujkg] {
    display: flex;
    flex-direction: row;
    gap: 10px;
}




.EstamosEm[b-gsbglvujkg] {
    margin: 0;
    font-family: "Sora";
    font-size: 14px;
    font-weight: 400;
    color: #A2C850;
    padding-bottom: 16px;
}




.p EstamosEm[b-gsbglvujkg] {
    flex-direction: row;
    margin: 0;
    font-family: "Sora";
    font-size: 14px;
    font-weight: 400;
    color: #A2C850;
    padding-bottom: 16px;
}


.Localizacao[b-gsbglvujkg] {
    letter-spacing: 0px;
    color: #F9F9FF;
    font-family: "Poppins";
    width: 156px;
    height: 73px;
}





.Contacnos[b-gsbglvujkg] {
    margin: 0;
    font-family: "Sora";
    font-size: 14px;
    font-weight: 400;
    color: #A2C850;
    padding-bottom: 16px;
}




.p Contacnos[b-gsbglvujkg] {
    flex-direction: row;
    margin: 0;
    font-family: "Sora";
    font-size: 14px;
    font-weight: 400;
    color: #A2C850;
}


.Contacto[b-gsbglvujkg] {
    letter-spacing: 0px;
    color: #F9F9FF;
    font-family: "Poppins";
    width: 224px;
    height: 24px;
}


.icon[b-gsbglvujkg] {
    width: 40px;
    height: 40px;
 margin-top: auto;
  }
