@page "/"
<PageTitle>Welcome</PageTitle>

<div class="main-content">
    <DxGridLayout CssClass="welcome-gridlayout" RowSpacing="3rem">
        <Rows>
            <DxGridLayoutRow Height="auto" Areas="header"></DxGridLayoutRow>
            <DxGridLayoutRow Height="auto" Areas="cards"></DxGridLayoutRow>
        </Rows>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="title">
                <Template>
                    <div class="title-header-text">Ajuda e Contacto!</div>
                    <div class="title-content-text">Oferecemos suporte aos nossos clientes! Conte conosco</div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="cards" CssClass="welcome-cards">
                <Template>
                    <NavLink class="welcome-card" href="/Apoio">
                        <svg class="welcome-card-img" aria-label="Apoio">
                            <use href="images/cards.svg#tickets"></use>
                        </svg>
                        <div class="welcome-card-text">Apoio ao Cliente</div>
                        <div class="welcome-card-back"></div>
                    </NavLink>
                    <NavLink class="welcome-card" href="/Comercial">
                        <svg class="welcome-card-img" aria-label="View Tickets">
                            <use href="images/cards.svg#tickets"></use>
                        </svg>
                        <div class="welcome-card-text">Comercial</div>
                        <div class="welcome-card-back"></div>
                    </NavLink>
           


                    <NavLink class="welcome-card welcome-card-ver-ticket" href="/procura">
                        <svg class="welcome-card-img" aria-label="Ver o seu ticket">
                            <use href="images/cards.svg#tickets"></use>
                        </svg>
                        <div class="welcome-card-text">Ver o seu ticket</div>
                        <div class="welcome-card-back"></div>
                    </NavLink>

                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>

@code {
    [SupplyParameterFromQuery(Name = "toggleSidebar")]
    public bool ToggledSidebar { get; set; }
} 