<header class="card">
    <div class="cardsec">
        <p class="textoinicial">
            Ajuda e contacto
        </p>
        <p class="textosecundario">
            Oferecemos suporte completo aos nossos clientes. Seja para esclarecer dúvidas sobre produtos e serviços,
            solucionar questões técnicas de TI e administração de redes. Conte connosco!
        </p>
        <div class="container-boxes">
            <div class="boxes">
                <div class="box">
                    <a href="/Apoio">
                        <img src="/imagens/default.png" alt="Imagem Box 1" class="box-img">
                        </a>
                        <div class="box-title">Apoio ao Cliente</div>
                        <div class="box-text">Ajuda e suporte aos softwares Inforcávado e área de TI e administração de redes.</div>
                    
                </div>
                <div class="box">
                     <a href="/Comercial">
                        <img src="/imagens/default.png" alt="Imagem Box 2" class="box-img">
                    </a>
                        <div class="box-title">Comercial</div>
                        <div class="box-text">Questões comerciais, licenças, orçamentos, formações e Implementações de software.</div>
                    
                </div>
            </div>

        </div>

        <div class="final-text">
            *Válido para clientes que possuam o contrato de garantia tecnológica e com banco de horas disponível no Contrato de continuidade.
        </div>
    </div>
</header>

@code {

}
