@page "/ComercialCards"

<div class="ApoioPage">
    <header class="apoiocards">
        <div class="header-line1">
            <a href="/" style="text-decoration:none">
                <p class="TextosAnteriores">
                    Inicio >
                </p>
            </a>

            <p class="TextoAtual">
                Comercial
            </p>

        </div>

        <div class="header-line2">
            <a href="/">
                <div class="SetaTras">
                    <span class="material-symbols-outlined">
                        arrow_back
                    </span>
                </div>
            </a>
            <div class="TituloPagina">
                Comercial
            </div>
        </div>
        <div class="container-boxes">
            <!-- Primeira linha de boxes -->
            <div class="boxes">
                <div class="box">
                    <img src="/imagens/Protextil- Prioritário Horizontal Cores (positivo).svg" alt="Imagem Box 2" class="box-img">
                    <h2 class="box-title">PROtextil®</h2>
                    <p class="box-text">ERP para a Indústria Têxtil</p>
                </div>
                <div class="box">
                    <img src="/imagens/atomgest- Prioritária Horizontal Cores (positiva.svg" alt="Imagem Box 2" class="box-img">
                    <h2 class="box-title">ATOMgest</h2>
                    <p class="box-text">Software de gestão comercial </p>
                </div>
            </div>

            <!-- Segunda linha de boxes com espaçamento vertical de 16px -->
            <div class="boxes">
                <div class="box">
                    <img src="/imagens/it.PNG" alt="Imagem Box 2" class="box-img" style="background-color:#0D3439; border-radius: 8px">
                    <h2 class="box-title">It </h2>
                    <p class="box-text">PSuporte a vendas, orçamentos e propostas.</p>
                </div>
                <div class="box">
                    <img src="/imagens/outros.PNG" alt="Imagem Box 2" class="box-img" style="background-color:#0D3439; border-radius: 8px">
                    <h2 class="box-title">Outros</h2>
                    <p class="box-text">Outras questões comerciais.</p>
                </div>
            </div>
        </div>
    </header>
</div>



@code {
    // Aqui você pode adicionar a lógica C# do componente, se necessário.
}
