
<header class="introdutor">
    <div class="introdutorsec">
    <p class="primeirotexto">
        Bem vindo ao Growing together.
        </p>


    <p class="titulo">
        A solução começa aqui.
    </p>


    <p class="descricao">
        Estamos disponíveis para ajudá-lo com qualquer dúvida ou problema que tenha.
    </p>
    </div>

    <div class="imagem">
        <img src="/imagens/Login GOT image (896x1017).png" />
    </div>
</header>




@code {

}
