<footer class="footer">
    <div class="footersec">
        <div class="footeresq">
            <img src="../imagens/Logo-growing-together-mono-negativo.svg" style="width:148px; height:45px;" />
            <p class="ComecaAqui">
                A solução começa aqui.
            </p>
            <p class="PowerBy">
                Powered By.
            </p>
            <img src="../imagens/Inforcávado-monocromática-negativa-secundária.svg" style="width:122px; height:18px; padding-bottom: 16px" />
            <p class="Infos">
                © 2002 - 2025 - Inforcávado<br> Todos os direitos reservados
            </p>
        </div>

        <div class="footeresq">
            <p class="Follow" style="width: 90px; height: 20px;">
                Siga-nos em
            </p>
            <div class="social-icons">

                <a href="https://www.facebook.com/Inforcavado/">
                <img src="/imagens/i-facebook.svg" style="width:24px; height:24px" />
                </a>
                <a href="https://www.instagram.com/inforcavado/">
                <img src="/imagens/i-instagram.svg" style="width:20px; height:20px" />
                </a>
                <a href="https://www.linkedin.com/company/inforcavado-informatica-lda/">
                <img src="/imagens/i-linkedin.svg" style="width:20px; height:20px" />
                </a>
                <a href="https://www.youtube.com/inforcavadoinformaticalda5932">
                <img src="/imagens/i-youtube.svg" style="width:20px; height:20px" />
                </a>
            </div>
        </div>

        <div class="footeresq">
            <p class="EstamosEm" style="width: 95px; height: 20px;">
                Estamos aqui
            </p>
            <p class="Localizacao">
                Rua da Olivença 115<br /> Bloco J, Fração C<br /> 4750-191, Barcelos
            </p>
        </div>

        <div class="footeresq" style="padding-right:92px">
            <p class="Contacnos" style="height: 20px;">
                Contacte-nos
            </p>
            <p class="Contacto">
                helpdesk@inforcavado.com
            </p>
            <p class="Contacto">
                +351 253 826 030
            </p>
        </div>

        <div class="icon">
            <img src="/imagens/inforcavado.svg" alt="Ícone da empresa" />
        </div>
    </div>
</footer>
