@page "/apoiocards"

<div class="ApoioPage">
    <header class="apoiocards">
        <div class="header-line1">
             <a href="/" style="text-decoration:none">
            <p class="TextosAnteriores">
                Inicio >
            </p>
            </a>

            <p class="TextoAtual">
                Apoio ao cliente
            </p>

        </div>

        <div class="header-line2">
            <a href="/">
            <div class="SetaTras">
                <span class="material-symbols-outlined">
                    arrow_back
                </span>
            </div>
            </a>
            <div class="TituloPagina">
                Apoio ao cliente
            </div>
        </div>
        <div class="container-boxes">
            <!-- Primeira linha de boxes -->
            <div class="boxes">
                <div class="box">
                    <a href="/TicketApoioPROtextil">
                    <img src="/imagens/Protextil- Prioritário Horizontal Cores (positivo).svg" alt="Imagem Box 2" class="box-img">
                     </a>
                    <h2 class="box-title">PROtextil®</h2>
                    <p class="box-text">ERP para a Indústria Têxtil</p>
                </div>
                <div class="box">
                    <a href="TicketApoioATOMgest">
                    <img src="/imagens/atomgest- Prioritária Horizontal Cores (positiva.svg" alt="Imagem Box 2" class="box-img">
                    </a>
                    <h2 class="box-title">ATOMgest</h2>
                    <p class="box-text">Software de gestão comercial </p>
                </div>
            </div>

            <!-- Segunda linha de boxes com espaçamento vertical de 16px -->
            <div class="boxes">
                <div class="box">
                    <a href="TicketApoioHeadline">
                    <img src="/imagens/it.PNG" alt="Imagem Box 2" class="box-img" style="background-color:#0D3439; border-radius: 8px">
                    </a>
                    <h2 class="box-title">Headline </h2>
                    <p class="box-text">Problemas técnicos, redes, instalação etc.</p>
                </div>
                <div class="box">
                    <a href="TicketApoioFinanceiro">
                    <img src="/imagens/financeiro.PNG" alt="Imagem Box 2" class="box-img" style="background-color:#0D3439; border-radius: 8px">
                    </a>
                    <h2 class="box-title">Financeiro</h2>
                    <p class="box-text">Pagamentos, faturas, contabilidade, etc.</p>
                </div>
            </div>
        </div>
    </header>
</div>

@code {
    // Aqui você pode adicionar a lógica C# do componente, se necessário.
}
