

<header class="News">
    <div class="TituloNewsLetter">
        Newsletter Inforcávado
    </div>

    <div class="Subtitulo">
        Novidades sobre os nossos softwares, legislação e muito mais.
    </div>

    <div class="InputWrapper">
        <input type="text" class="caixaDETexto" placeholder="Introduza o seu e-mail aqui">
        <button class="BotaoSubscrever">Subscrever</button>
    </div>
</header>
