
<style>

    .imagemsmile {
        display: flex;
        width: 60px;
        height: 60px;
        margin-top: 26px;
        justify-content: center;
        align-items: center;
        color: #1E717A;
        font-size: 60px;
        align-content: center;
    }
    .TextoBoxSucesso {
        display: flex;
        margin-top: -18px; 
        align-items: center;
        width: 536px;
        height: 53px;
        font-family: "Sora", sans-serif;
        text-align: center;
        font-size: 14px;
        letter-spacing: 0px;
        color: #12444A;
        font-weight: 500;
        opacity: 1;
        justify-content: center;
    }

    .TittleBoxSucesso {
        display: flex;
        margin-top: 6px;
        align-items: center;
        width: 536px;
        height: 53px;
        font-family: "Sora", sans-serif;
        text-align: center;
        font-size: 18px;
        letter-spacing: 0px;
        color: #1E717A;
        opacity: 1;
        justify-content: center;
        font-weight: 500;
    }

    .Sucess {
        height: 456px;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Box-Sucesso {
        margin-top: 128px;
        height: 212px;
        width: 536px;
        background-color: #A2C8501A;
        border-radius: 24px;
        display: flex; /* Adicionado para centralizar os elementos */
        flex-direction: column; /* Organiza os elementos em coluna */
        align-items: center;
        justify-content: center !important;
    }






    .botaoNovoTicket {
        display: flex; /* Define o botão como container flex */
        justify-content: center; /* Centraliza horizontalmente o conteúdo do botão */
        align-items: center; /* Centraliza verticalmente o conteúdo do botão */
        align-self: center; /* Centraliza o botão dentro do container flex do form */
        width: 118px;
        height: 40px;
        font: normal normal normal 14px/18px Sora;
        letter-spacing: 0px;
        color: #F9F9F9;
        background-color: #1B7C87; /* Cor de fundo para contraste */
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 16px;
    }

</style>

<header class="Sucess">
    <div class="Box-Sucesso">
        <div class="imagemsmile">
            <span class="material-symbols-outlined" style="font-size: 60px; font-weight: 500;">
                sentiment_satisfied
            </span>
      </div>
        <p class="TittleBoxSucesso">
            Ticket Criado!
        </p>
        <p class="TextoBoxSucesso">
            Agradecemos o seu contacto.<br /> A sua solicitação é importante para nós e será atendida<br /> por um dos nossos especialistas o mais brevemente possível.
        </p>
    </div>

    <a href="/" style="text-decoration: none;">
    <div class="botaoNovoTicket">
        Novo Ticket
    </div>
    </a>
</header>