[b-fzb1f755a6] .welcome-gridlayout {
    margin: auto;
    width: auto;
    height: auto;
}

body[b-fzb1f755a6] {
    background: #F3F4F6;
}


[b-fzb1f755a6] .welcome-gridlayout .dxbl-gridlayout-root {
    align-content: center;
    justify-content: center;
}

[b-fzb1f755a6] .title {
    text-align: center;
    color: #1E3A8A; 
}

[b-fzb1f755a6] .welcome-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    position: relative;
}

[b-fzb1f755a6] .welcome-card {
    width: 320px;
    height: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #2563EB, #1E40AF); 
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2), 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s, transform 0.2s;
    border-radius: 1rem;
    color: #FFFFFF; 
    gap: 1.5rem;
    text-decoration: none;
    position: relative;
}

    [b-fzb1f755a6] .welcome-card:hover {
        box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.3), 0px 8px 10px -6px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }

    [b-fzb1f755a6] .welcome-card .welcome-card-img {
        width: 6.5rem;
        height: 6.5rem;
    }

    [b-fzb1f755a6] .welcome-card .welcome-card-text {
        font-size: 1.75rem;
        font-weight: 600;
        text-align: center;
        text-decoration: unset;
    }

[b-fzb1f755a6] .icon-fill {
    fill: #FACC15; /* Amarelo vibrante */
}

[b-fzb1f755a6] .welcome-card .welcome-card-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    z-index: -2;
}

/* Estilo específico para o cartão "Ver o seu ticket" */
[b-fzb1f755a6] .welcome-card-ver-ticket {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 10rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #1E3A8A, #1E3A8A); /* Roxo degradê */
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2), 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s, transform 0.2s;
    border-radius: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    z-index: 10;
}

    [b-fzb1f755a6] .welcome-card-ver-ticket:hover {
        box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.3), 0px 8px 10px -6px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);
    }

    [b-fzb1f755a6] .welcome-card-ver-ticket .welcome-card-img {
        width: 3rem;
        height: 3rem;
    }

    [b-fzb1f755a6] .welcome-card-ver-ticket .welcome-card-text {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        text-decoration: unset;
    }
